<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chatgpt.Mapper.ProjectMapper">
    <resultMap id="ProjectBaseMap" type="com.example.chatgpt.Entity.Project">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
    </resultMap>
    <insert id="addProject" parameterType="com.example.chatgpt.Entity.Project">
        insert into project values (#{id} ,#{name},#{description});
    </insert>
    <select id="getAllProjects" resultMap="ProjectBaseMap">
        select * from project;
    </select>
</mapper>